/* Defenindo nosso estilo... */
@charset "utf8";

.fundofixo{
    background: url('../images/churrascariaf.jpg') no-repeat fixed;
    -webkit-backdrop-size: cover;
    background-size: cover;
}

.ajustes{
    align-items: center;
    /* background-color: #fff; */
    padding: 20px;
}

.card-deck{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 00px 40px;
}

.card{
    padding: 20px;
}

.k1 h1{
    display: flex;
    justify-content: center;
}